body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-left: 15%;
}

main {
    display: flex;
    flex-direction: column;
    height: 30em;
    width: 80%;
}