
body {
    background-color: black;
    color: white;
}

h1 {
    font-weight: bolder;
}

h2 {
    font-weight: bold;
}

h3 {
    font-style: italic;
}
h4 {
    font-style: oblique;
}

p {
    font-size: 1em;
}