body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    color:white;
}

section {
    width:50%;
    height: 60%;
}

form {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat(7) 10% ;
    background-color:black;
    border: 0.15em solid blue;
    padding: 1.5em;
    border-radius: 1.5em;

}

input {
    border-radius: 1em;
    font-size: 1em;
}

input[type="text"] {
    grid-column: span 5;
    height:3em;
    margin-bottom: 1em;
}

label{
    grid-column: span 5;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

input[type="button"] {
    padding: 0.5em;
    margin: 0.07em;
    background-color: white;
}

input[type="button"][value="+"] {
    grid-column: 4;
    grid-row: 6/8;
}
